.masthead {
    padding: 6em 0;
  
  background-image: url('https://hjdwgg.bn1301.livefilestore.com/y2pJ2pg_QW56QcTfW6hohPMTRHzVq1hySrhSI7vC9D-7Cia1ke8h6LoHw3Ff49_yoriqXg6UVteu8KgW1TUqV4WDOB6I6V_gWZoCw1kEVFFokc/moss.jpg?psid=1');
}

.masthead-intro {

    font-size: 2em;
    text-align: center;
  margin-bottom: 0.1em;
  color : gray;
  font-size: 400%;
   text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}
.masthead-heading {
    text-align: center;
   margin-top: -0.2em;
    color : gray;
   font-size: 500%;

    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
 text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}
.masthead,h1, h2{ color :  #290840; 
font-family: 'Lobster', cursive;
}


.introduction-section,
.location-section,
.questions-section,
.content-footer {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
  margin-top: 2em;

} 
.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.introduction-section { text-align:left;}

.location-section { text-align:left;}

.questions-section { text-align:left;}

.content-footer { text-align:center;}

.social>li {display : inline-block;}

.content-footer > p{color:black;}
.questions-section > h2 {
    /* Typography Declarations */
  
    font-size: 1.2em;
    font-weight: bold;
}

.content-footer {
  /* Red, Green, Blue: #RRGGBB */
  background-color: #DBFAD9 ;
  color:black
  moz-box-shadow:    3px 3px 5px 6px #ccc;
  webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

@media only screen and (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }

    @media only screen and (max-width: 800px) {
    .masthead {
        padding: 3em 0;
    }
    .footer {
        font-size: 1em;
    }
  }


@media (min-width: 48rem) {
    .content {
        width: 46rem;
    }
}
@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}
@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}
